<a href="/chats/<%= chat.id %>" class="list-group-item">
  <% chat_user = chat.chat_users.where.not(user_id: current_user.id).first %>
  <%= chat_user ? chat_user.user.name : "Chat solitaria" %>
</a>