.message-form{
    position: fixed;
    bottom: 0;
}
.custom-button {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 3px;
        font-size: 21px;
        text-align: center;
        margin-left: 2px;
        border: 1px solid rgba(50, 75, 150, 0.7);
        border-radius: 7px;
        background-color: rgba(50, 75, 150, 0.3);
        color: darkblue;
        font-weight: bold;
}

.message-body{
        display: block;
        float: left;
        border-radius: 7px; 
        border: 1px solid rgba(50, 75, 150, 0.7);
        background-color: rgba(150, 175, 250, 0.3);
        word-spacing: 2pt;
        font-size: 15px;
        padding: 6px;
        width: 90%;
}

.message-body:focus{
        outline: none;
}