// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.messages-box {
    max-height: 550px;
    overflow-y: scroll;
    margin-bottom: 30px;
}

.message {
    text-align: justify;
    font-size: 10pt;
    border: 2px solid coral;
    border-radius: 5px 20px 20px 5px;
    border-left-width: 10px;
    width: auto;
    float: left;
}

.message.self{
    border: 2px solid cornflowerblue;
    border-radius: 20px 5px 5px 20px;
    border-left-width: 2px;
    border-right-width: 10px;
    border-color: cornflowerblue;
    float: right;
}
.message-div{
    clear: both;
}
.messages-panel{
    margin: auto;
    margin-top: 45px;
    max-width: 500px;
}
.message-form {
    background: white;
    width: 100%;   
    max-width: 500px;
    border-top: 1px solid lightgrey;
    padding-top: 5px;
}

@media screen and (max-height: 520px) {
    .messages-box {
        max-height: 400px;
        overflow-y: scroll;
        margin-bottom: 30px;
    }
}

@media screen and (max-height: 420px) {
    .messages-box {
        max-height: 300px;
        overflow-y: scroll;
        margin-bottom: 30px;
    }
}
@media screen and (max-height: 320px) {
    .messages-box {
        max-height: 200px;
        overflow-y: scroll;
        margin-bottom: 30px;
    }
}