// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.central-little-div{
    width: 255px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 10px 16px 10px rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(220, 220, 220, 0.2);
}
.central-little-div.homepage{
    min-height: 300px;
    padding: 50px 10px;
    h1{
        height: 100px;
    }
}
nav {
    ul.menu-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: cornflowerblue;
        border: cornflowerblue 2px solid;
        clear: both;
        padding: 5px 0;
        li {
            border: 2px solid white;
            border-radius: 7px;
            height: 30px;
            display: block;
            float: left;
            text-align: center;
            margin: 0 5px;
            transition: all 0.3s ease;
            a {
                border-radius: 7px;
                padding: 5px 10px;
                display: inline-block;
                width: 100%;
                height: 100%;
            }
        }
        li.active {
            background-color: white;
            border: 2px solid darkslateblue;
        }
    }
}

